.header{
    z-index: 50;
    background:#2A5D67;
    min-height:101px ;
    position: fixed;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;

}
.header__container{
    width:1500px;
    padding:0px 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.header__categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    width: 100%;
}

.header__item{
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.header__item:hover{
    color: #54BACF;
}




.header__search-shop{
    width: 184px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.shop__container{
    position: relative;
}

.shop{
    transition: all 0.3s ease;
    
}
.count_cart{
    top:-15px;
    right:-15px;
    width: 25px;
    position: absolute;
    background: red;
    border-radius: 50%;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop:hover{
    transform:scale(1.2)
}


@media (max-width: 1000px) {
    .header__categories{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }
    .header__item{
        font-size: 20px;
    }

}



@media (max-width: 590px) {
    .header__categories{
        display: none;
    }


}