.buy_shoes{
    background:#D9D9D9;

    width: 100%;
    display: flex;
    justify-content: center;
}

.buy_shoes__container{
    height: 100vh;
    margin-top: 115px;
    max-width: 1500px;
    width: 100%;

}


.buy_shoes__back{
    cursor: pointer;
    display: flex;
    gap: 24px;
    align-items:center;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    transition: all 0.4s;

}

.buy_shoes__back:hover{
    transform: translateX(-5px);
}

.buy_shoes__content{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.buy_shoes__info{
    display: flex;
    flex-direction: column;

}

.buy_shoes__name{
    max-width: 600px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #000000;

}

.buy_shoes__description{
    max-width: 600px;
    margin: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    padding-right: 40px;
}


.buy_shoes__buy{
    display: flex;
    align-items:center;
    gap: 47px;
}



.buy_shoes__btn{
    padding: 20px 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #D9D9D9;

    background: #000000;
    border-radius: 10px;
    transition: all 0.4s;
}

.disable{
    padding: 20px 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #808080;

    background: #130909;
    border-radius: 10px;
    transition: all 0.4s;
}

.buy_shoes__btn:hover{
    color: #000000;
    background: #e2e2e2;


}

.buy_shoes__btn:hover~.buy_shoes__sale{
    transform: scale(1.1);
}

.buy_shoes__sale{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 133.4%;
    letter-spacing: 0.01em;
    transition: all 0.4s;
    color: #000000;
}

.buy_shoes__sizes{
    max-width: 522px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #000000;

}


.buy_shoes__size{
    transition: all 0.4s;
    cursor: pointer;
    position: relative;
}

.buy_shoes__size::before{

    content: "";
    position: absolute;
    background:#50c3d7;
    height: 3px;
    top: 30px;
    transition: all 0.4s;
}

.size__active::before{
    width: 100%;
}

.size__active{
    color:#1e5594;
}


.buy_shoes__size:hover::before{
    width: 100%;

}

.buy_shoes__size:hover{
    color:#1e5594;
}

.buy_shoes__colors{
    max-width: 405px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}


.buy_shoes__color{
    cursor: pointer;
    width: 100px;
    height: 94px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.buy_shoes__color:hover{
    border:3px solid black;
}

.color_active{
    border:3px solid black;
}

:root{
 --heig_shos:2.25;
    --shoes_posit:30%;
}

.buy_shoes__shoes{
    height: 20%;
    width: calc(22%*var(--heig_shos));
    animation: rotate_boots 8s ease-in-out infinite alternate ;
    transform: translate(0,30%) rotateZ(-15deg);
}


@keyframes rotate_boots{
    0%{
        transform:translate(-10%,var(--shoes_posit)) rotateZ(-15deg);
    }

    25%{
        transform: translate(-10%,15%) rotateZ(-25deg);
    }
    50%{
        transform:translate(-10%,var(--shoes_posit)) rotateZ(-35deg);
    }

    75%{
        transform: translate(-10%,15%) rotateZ(-25deg);
    }
    100%{
        transform:translate(-10%,var(--shoes_posit)) rotateZ(-15deg);
    }


}

@media (max-width: 1450px){
    :root{
        --heig_shos:2;
    --shoes_posit:55%;
    }

    .buy_shoes__name{

        font-size: 50px;
        line-height: 70px;


    }

    .buy_shoes__description{
        max-width: 500px;
        margin: 15px 0;
        font-size: 24px;
    }

}

@media (max-width: 850px){
    :root{
        --heig_shos:2;
        --shoes_posit:125%;
    }

    .buy_shoes__name{

        font-size: 30px;
        line-height: 45px;


    }

    .buy_shoes__description{
        max-width: 500px;

        font-size: 24px;
        line-height: 28px;
    }





     .buy_shoes__btn{
         padding: 15px 32px;

     }
     .disable{
        padding: 15px 32px;
        
    }
    /* .buy_shoes__sale{
         font-style: normal;
         font-weight: 600;
         font-size: 40px;
         line-height: 133.4%;
         letter-spacing: 0.01em;
         transition: all 0.4s;
         color: #000000;
     }*/

    .buy_shoes__sizes{
        max-width: 350px;

    }


    .buy_shoes__size{
        transition: all 0.4s;
        cursor: pointer;
        position: relative;
    }


    .buy_shoes__colors{
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

    }


    .buy_shoes__color{
        cursor: pointer;
        width: 70px;
        height: 66px;
        border-radius: 10px;

    }
}

@media (max-width: 740px){


    .buy_shoes__container{
        margin-top: 120px;
    }

    :root{
        --heig_shos:2;
        --shoes_posit:125%;
    }

    .buy_shoes__name{
        margin-top: 10px;
        font-size: 24px;
        line-height: 30px;


    }

    .buy_shoes__description{
        max-width: 400px;

        font-size: 18px;
        line-height: 22px;
    }





}

@media (max-width: 550px){

    .buy_shoes__shoes{
       display: none;
    }

    .buy_shoes__container{
        margin-top: 120px;
    }


    .buy_shoes__name{
        text-align: center;

    }

    .buy_shoes__description{
        max-width: 100%;
        font-size: 16px;
        line-height: 22px;
    }


    .buy_shoes__btn{
        padding: 10px 15px;
        font-size: 12px;

    }

    .disable{
        padding: 10px 15px;
        font-size: 12px;

    }
  
     .buy_shoes__sale{

         font-size: 25px;
         line-height: 80%;

     }

    .buy_shoes__sizes{
        max-width: 300px;
        font-size: 18px;
    }


    .buy_shoes__colors{
        max-width: 300px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

    }


    .buy_shoes__color{
        cursor: pointer;
        width: 50px;
        height: 46px;
        border-radius: 10px;

    }



}

@media (max-width: 380px){


    .buy_shoes__container{
        margin-top: 100px;
    }



    .buy_shoes__name{
        text-align: center;

    }

    .buy_shoes__description{
        max-width: 100%;
        font-size: 16px;
        line-height: 18px;
    }





}


@media (orientation:landscape) and (max-width:1400px){
    .buy_shoes__container{
        height: 100%;
    }
}