.store{
    padding-top: 6.5%;
    background: #CACFDF;
    display:flex;
    flex-direction: column;
}

.store__container{
    display: flex;
    flex-direction: column;
    align-self:center;
    max-width: 1500px;
    width: 100%;
}

.store__label{
    margin-top: 7%;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 133.4%;
    letter-spacing: 0.01em;
    color: #2A5D67;
}

.available__items{
    margin-top:5%;
    display: flex;
    justify-content:center;
    margin-bottom: 8%;
    flex-wrap: wrap;
    column-gap: 33px;
    row-gap: 60px;
}

.available__item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 43px 20px 0 20px;
    max-width: 350px;
    width: 100%;
    max-height: 457px;
    height: 100vh;
    background: #2A5D67;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.available__item:hover{
    transform: translateY(-10px);
}


.store__categorys{
    display: flex;
    align-self:center;
    justify-content: space-between;
    max-width:741px;
    width: 100%;
}
.store__category{
    
    max-width: 150px;
    width: 100%;
    height: 90px;   
    padding: 25px 0;
    text-align: center;
    background: #FFFFFF;
    border-radius: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 133.4%;
    letter-spacing: 0.01em;
    color: #2A5D67;
    transition:all 0.3s;
}

.store__category__active{
    max-width: 150px;
    width:100%;
    height: 90px;
    padding: 25px 0;
    text-align: center;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 133.4%;
    letter-spacing: 0.01em;
    transition:all 0.3s;
    background: #2A5D67;
    color: #FFFFFF;
    
}

.store__category:hover{
    background: #3e91a1;
    color: #FFFFFF;
}

.store__name{
    margin-top: 50px;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 133.4%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.store__btn{
    margin-top: 10px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 133.4%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

@media (max-width: 620px){

    .store__categorys{

        width: 90%;
    }
    .store__category{

        max-width:100px;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #FFFFFF;
        border-radius: 20px;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        transition:all 0.3s;
    }

    .store__category__active{
        max-width:100px;
        width:100%;
        height: 100%;
        text-align: center;
        border-radius: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0.01em;
        transition:all 0.3s;

    }

}

@media (max-width: 540px) {
    .store__categorys{

        width: 95%;
    }
    .store__category{

        max-width: 80px;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #FFFFFF;
        border-radius: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        transition:all 0.3s;
    }

    .store__category__active{
        max-width: 80px;
        width:100%;
        height: 100%;
        text-align: center;
        border-radius: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.01em;
        transition:all 0.3s;

    }
    
}

@media (max-width: 1000px) and (orientation: landscape){
    .store__name{
        margin-top: 15px;
        text-align: center;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
    }

    .store__btn{
        margin-top: 15px;
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
       
    }
}