.order{
    background: linear-gradient(116.69deg, #2A5D67 83.81%, rgba(45, 141, 172, 0) 117.2%);
    height: 1140px;
    display: flex;
    justify-content:center;
   position:relative;
   
    
}

.order__container{
    margin-top: 9%;
    max-width: 1500px;
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    
}

.order__title{  
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 132.4%;
    color: #54BACF;
}

.order__midle{
    margin-top: 4%;
    display: flex;
    justify-content:space-between;
    position: relative;
}

.order__buy{
    max-width: 453px;
    width:100%;
}



.order__h1{
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 133.4%;
    color: #FFFFFF;
    max-width: 334px;
    width:100%;
    margin-bottom: 13%;
}

.order__btn{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 132.4%;
    /* identical to box height, or 53px */
    letter-spacing: 0.025em;
    color: #FFFFFF;  
    padding: 30px 35px;
    background: #54BACF;
    border-radius: 25.3311px;
    transition:all 0.3s;
}

.order__btn:hover{
    
    background: #50c3d7;
}
.order__shoes{
    position: relative;
    display: flex;
    align-items: center;
}

.order__shoes__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 22em;
    line-height: 132.4%;
    /* or 463px */
    letter-spacing: 0.025em;
    color: rgba(84, 186, 207, 0.4);

}

.order__shoes__img{
    max-width: 1100px; 
    width: 100%;
    position: absolute;
    top: -40%;
    right: 66px;
    transform: rotate(3deg);
    animation-name:shoes-rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

@keyframes shoes-rotate{
    0%{
        transform: rotate(3deg);
    }
   
    100%{
        transform: rotate(8deg);
    }
}

.order__items{
    position: absolute;
    bottom: -13%;
    max-width:1104px;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 30px;
}

.order__item{
    cursor: pointer;
    max-width: 350px;
    width: 100%;
    max-height: 294px;
    height: 100vh;
    background: #54BACF;
    box-shadow: 17px 20px 19px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    transition:all 0.3s ease;
}
.order__item:hover{
    transform: translateY(-5px);
}

.item__title{
    margin-top: 34px;
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 132.4%;
    letter-spacing: 0.025em;
    
    color: #FFFFFF;
    position: relative;
}
.item__title::after{
    content:" ";
    position: absolute;
    bottom:-12px;
    left: 50px;
    border: 4px solid #FFFFFF;
    width: 50%;
}

.item__description{
    margin-top: 54px;
    padding:0 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 132.4%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

@media(max-width:1300px){


    .order__h1{
        max-width:100%;
       
    }
    .order__buy{}

    .order__shoes__img{
        max-width:800px;
        top: -30%;
        
    }
    .order__shoes__title{
     
        font-size: 18em;
       
        
    }

    .order__items{
        bottom: -5%;
    }

   .order__item{
    max-width: 250px;
   }

   .item__title{
   
    font-size: 3.5em;
  
}


.item__description{
   
  
    font-size: 1.2em;
   
}
   
}

@media(max-width:1100px){

    .order__container{
        margin-top: 15%;


    }

    .order__h1{
        max-width:100%;
       
    }

    .order__shoes__img{
        max-width:600px;
        top: -10%;
        
    }
    .order__shoes__title{
     
        font-size: 14em;
      
        
    }

    .order__items{
        bottom: -5%;
    }

   .order__item{
    max-width: 250px;
   }

   .item__title{
   
    font-size: 3.5em;
  
}


    .item__description{


        font-size: 1.2em;

    }
   
}

@media(max-width:930px){

    .order{
        height: 900px;
    }
    .order__shoes__img{
        max-width:600px;
        top: -30%;
    }
    .order__shoes__title{
        font-size: 14em;
    }

    .order__h1{
        font-size: 50px;
    }

    .order__btn{
        padding:15px 10px;
    }
}

@media(max-width:824px){

    .order__container{
        margin-top: 25%;
       align-items: center;

    }
    .order__shoes__img{
       display: none;
    }
    .order__shoes__title{
        display: none;
    }

    .order__h1{
        font-size: 50px;
    }

    #info{
        display: flex;

    }

    .order__item{

    }

    .item__title{
        font-size: 2em;
        margin-top: 10px;
    }
    .item__title::after{
        content:" ";
        position: absolute;
        bottom:-12px;
        left: 25%;
        border:2px solid #FFFFFF;
        width: 50%;
    }

    .item__description{
        font-size: 1em;
        margin-top: 15px;
    }


}

@media(max-width:625px){
    .order__items{
        bottom: -2%;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .order__item{
        cursor: pointer;
        width:200px;
        height: 180px;


    }
}

@media(max-width:420px){
    .order__items{
        bottom: -2%;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .order__item{
        cursor: pointer;
        width:150px;
        height: 180px;


    }

    .item__title{
        font-size: 1.5em;
        margin-top: 10px;
    }
    .item__title::after{
        content:" ";
        position: absolute;
        bottom:-8px;
        left: 25%;
        border:2px solid #FFFFFF;
        width: 50%;
    }

    .item__description{
        font-size: 1em;
        margin-top: 15px;
        padding: 5px;
    }

}